<!doctype html>
<html class="no-js" lang="{$pageService->getIsoLang()}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="description" content="{$pageService->getCurrentPage()['description']}">

	<title>{ifset title}{include title|stripHtml} | {/ifset}{$settingsService['site_name']}</title>

	<meta name="robots" content="index, follow">

	<meta property="og:url"           content="{$_SERVER['REQUEST_URI']}" />
	<meta property="og:type"          content="article" />
	<meta property="og:site_name"     content="{$settingsService['site_name']}" />
	<meta property="og:title"         content="" />
	<meta property="og:description"   content="" />
	<meta property="og:image"         content="" />
	<!-- END - Technical SEO Meta tags -->



	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" type="image/png" href="/{$settingsService->getAppConfig()['subdir']}assets/custom/logo.png">


	<link rel="stylesheet" href="/{$settingsService->getAppConfig()['subdir']}assets/custom/styles.css">

	{block head}

	{/block}
</head>
<body>
{snippetArea contentWrapper}
								<ul>
									<li>{_'Phone'}: <a href="tel: {$settingsService['contact_phone']}">{$settingsService['contact_phone']}</a></li>
									<li>{_'Email'}: <a href="mailto: {$settingsService['contact_email']}">{$settingsService['contact_email']}</a></li>
								</ul>

									<ul>
									{foreach $settingsService->getAppConfig()['langs'] as  $item}
										{first}
										<li><a href="/{$settingsService->getAppConfig()['subdir']}" class="langSwitcher mr-3">{$item}</a></li>
										{else}
										<li><a href="/{$settingsService->getAppConfig()['subdir']}{$item}/" class="langSwitcher mr-3">{$item}</a></li>
										{/first}
									{/foreach}
									</ul>

<em>{$settingsService['site_name']}</em>


									<nav>
										<ul id="navigation">
											{foreach $pageService->getActivePages() as $item}
												{if $item['pointer']->getValue() === 'homepage'}
													<li class="{$pageService->getCurrentRootPage()->get('id')->getValue() === $item->get('id')->getValue() ? "menu-active" : '' }">
														<a href="/{$settingsService->getAppConfig()['subdir']}">{$item->get('menuName')->getValue()}</a>
													</li>
												{elseif $item->get('parent')->getValue() === 0 && $item->get('menu')->getValue()}
													<li class="{$pageService->getCurrentRootPage()->get('id')->getValue() === $item->get('id')->getValue() ? "menu-active" : '' } menu-has-children">
														<a href="{$pageService->getPageUrl($item)}">{$item->get('menuName')->getValue()}</a>
														{include './_shared/menu.latte', pageService: $pageService, item: $item}
													</li>
												{/if}
											{/foreach}
										</ul>
									</nav>

<main>
	{snippet flashMessages}
		<div n:foreach="$flashes as $flash" n:class="flash, alert, 'alert-' . $flash->type">{$flash->message}</div>
	{/snippet}

	{include content}
</main>

<p>
	<!-- Link back to nette-cms can't be removed. CMS is licensed under CC BY 4.0 DEED -->
	Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Powered by <a href="https://github.com/kenichiii/nette-cms" target="_blank">nette-cms</a>
	<!-- Link back to nette-cms can't be removed. CMS is licensed under CC BY 4.0 DEED -->
</p>

{/snippetArea}

<!-- JS here -->

<script src="https://unpkg.com/nette-forms@3/src/assets/netteForms.js"></script>
<script src="https://unpkg.com/naja@3/dist/Naja.min.js"></script>

<script src="/{$settingsService->getAppConfig()['subdir']}assets/custom/control.js"></script>
{block scripts}
	{*    Some other scripts*}
{/block}
</body>
</html>