<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{ifset title}{include title|stripHtml} | {/ifset}{_'Admin'}</title>
	<!-- plugins:css -->
	<link rel="stylesheet" href="/{$settingsService->getAppConfig()['subdir']}assets/admin/assets/vendors/mdi/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="/{$settingsService->getAppConfig()['subdir']}assets/admin/assets/vendors/css/vendor.bundle.base.css">
	<!-- endinject -->
	<!-- Plugin css for this page -->
	<!-- End Plugin css for this page -->
	<!-- inject:css -->
	<!-- endinject -->


	<!-- Layout styles -->
	<link rel="stylesheet" href="/{$settingsService->getAppConfig()['subdir']}assets/admin/assets/css/style.css">
	<link rel="stylesheet" href="/{$settingsService->getAppConfig()['subdir']}assets/admin/customStyle.css">
	<!-- End layout styles -->

	<link rel="shortcut icon" href="/{$settingsService->getAppConfig()['subdir']}assets/admin/images/favicon.png" />

	{block head}
	{/block}
</head>
<body>
{snippetArea contentWrapper}
<div class="container-scroller">
	<!-- partial:../../partials/_sidebar.html -->
	<nav class="sidebar sidebar-offcanvas" id="sidebar">
		<div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
			<a class="sidebar-brand brand-logo" href="/{$settingsService->getAppConfig()['subdir']}">{$settingsService['site_name']}</a>
			<a class="sidebar-brand brand-logo-mini" href="/{$settingsService->getAppConfig()['subdir']}">{$settingsService['site_name'][0]}</a>
		</div>
		<ul class="nav">
			<li class="nav-item profile">
				<div class="profile-desc">
					<div class="profile-pic">
						<div class="count-indicator">
							<img class="img-xs rounded-circle " src="/{$settingsService->getAppConfig()['subdir']}docs/users/{$user->getIdentity()->photo ? $user->getId() .'/' . $user->getIdentity()->photo : '_default/avatar.jpg'}" alt="">
							<span class="count bg-success"></span>
						</div>
						<div class="profile-name">
							<h5 class="mb-0 font-weight-normal">{$user->getIdentity()->name ?: $user->getIdentity()->email}</h5>
							<span>{$user->getIdentity()->role}</span>
						</div>
					</div>
					<a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
					<div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
						<a n:href=":App:Admin:Main:User:Default:accountSettings" class="dropdown-item preview-item">
							<div class="preview-thumbnail">
								<div class="preview-icon bg-dark rounded-circle">
									<i class="mdi mdi-settings text-primary"></i>
								</div>
							</div>
							<div class="preview-item-content">
								<p class="preview-subject ellipsis mb-1 text-small">{_'Account settings'}</p>
							</div>
						</a>
						<div class="dropdown-divider"></div>
						<a n:href=":App:Admin:Main:User:Default:changePassword" class="dropdown-item preview-item">
							<div class="preview-thumbnail">
								<div class="preview-icon bg-dark rounded-circle">
									<i class="mdi mdi-onepassword  text-info"></i>
								</div>
							</div>
							<div class="preview-item-content">
								<p class="preview-subject ellipsis mb-1 text-small">{_'Change Password'}</p>
							</div>
						</a>
						<!--div class="dropdown-divider"></div>
						<a href="#" class="dropdown-item preview-item">
							<div class="preview-thumbnail">
								<div class="preview-icon bg-dark rounded-circle">
									<i class="mdi mdi-calendar-today text-success"></i>
								</div>
							</div>
							<div class="preview-item-content">
								<p class="preview-subject ellipsis mb-1 text-small">{_'To-do list'}</p>
							</div>
						</a-->
					</div>
				</div>
			</li>
			<li class="nav-item nav-category">
				<span class="nav-link">{_'Navigation'}</span>
			</li>
			<li class="nav-item menu-items">
				<a class="nav-link" n:href=":App:Admin:Main:Dashboard:Default:">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
					<span class="menu-title">{_'Dashboard'}</span>
				</a>
			</li>
			<li class="nav-item menu-items">
				<a class="nav-link" n:href=":App:Admin:Main:WWWPages:Default:pages">
              <span class="menu-icon">
                <i class="mdi mdi-laptop"></i>
              </span>
					<span class="menu-title">{_'WWW Pages'}</span>
				</a>
			</li>
			<li class="nav-item menu-items">
				<a class="nav-link" n:href=":App:Admin:Main:Users:Default:">
              <span class="menu-icon">
                <i class="mdi mdi-security"></i>
              </span>
					<span class="menu-title">{_'Users'}</span>
				</a>
			</li>
			<li class="nav-item menu-items">
				<a class="nav-link" n:href=":App:Admin:Main:Settings:Default:">
              <span class="menu-icon">
                <i class="mdi mdi-settings"></i>
              </span>
					<span class="menu-title">{_'Settings'}</span>
				</a>
			</li>
		</ul>
	</nav>
	<!-- partial -->
	<div class="container-fluid page-body-wrapper">
		<!-- partial:../../partials/_navbar.html -->
		<nav class="navbar p-0 fixed-top d-flex flex-row">
			<div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
				<a class="navbar-brand brand-logo-mini" n:href=":App:Admin:Main:Dashboard:Default:">{_'Admin'}</a>
			</div>
			<div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
				<button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
					<span class="mdi mdi-menu"></span>
				</button>
				<ul class="navbar-nav ml-3">
					<li class="nav-item">
						<a n:href=":App:Admin:Main:Utils:Default:deleteCache, cleanCache:1"  class="btn btn-danger ajax">
							<i class="mdi mdi-delete-variant"></i> {_'Delete Cache'}
						</a>
					</li>
				</ul>
				<ul class="navbar-nav navbar-nav-right">
					<li class="nav-item dropdown">
						<a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
							<div class="navbar-profile">
								<img class="img-xs rounded-circle" src="/{$settingsService->getAppConfig()['subdir']}docs/users/{$user->getIdentity()->photo ? $user->getId() .'/' . $user->getIdentity()->photo : '_default/avatar.jpg'}" alt="">
								<p class="mb-0 d-none d-sm-block navbar-profile-name">{$user->getIdentity()->name ?: $user->getIdentity()->email}</p>
								<i class="mdi mdi-menu-down d-none d-sm-block"></i>
							</div>
						</a>
						<div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
							<h6 class="p-3 mb-0">{_'Profile'}</h6>
							<!--div class="dropdown-divider"></div>
							<a class="dropdown-item preview-item" n:href=":App:Admin:Main:User:Default:settings">
								<div class="preview-thumbnail">
									<div class="preview-icon bg-dark rounded-circle">
										<i class="mdi mdi-settings text-success"></i>
									</div>
								</div>
								<div class="preview-item-content">
									<p class="preview-subject mb-1">{_'Settings'}</p>
								</div>
							</a--->
							<div class="dropdown-divider"></div>
							<a class="dropdown-item preview-item" n:href=":App:Admin:Main:User:Default:logout">
								<div class="preview-thumbnail">
									<div class="preview-icon bg-dark rounded-circle">
										<i class="mdi mdi-logout text-danger"></i>
									</div>
								</div>
								<div class="preview-item-content">
									<p class="preview-subject mb-1">{_'Log out'}</p>
								</div>
							</a>
						</div>
					</li>
				</ul>
				<button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
					<span class="mdi mdi-format-line-spacing"></span>
				</button>
			</div>
		</nav>
		<!-- partial -->
		<div class="main-panel">
			<div class="content-wrapper">

					{snippet flashMessages}
						<div n:foreach="$flashes as $flash" n:class="flash, alert, 'alert-' . $flash->type">{$flash->message}</div>
					{/snippet}

					{include content}
			</div>
			<!-- content-wrapper ends -->
			<!-- partial:../../partials/_footer.html -->
			<footer class="footer">
				<div class="d-sm-flex justify-content-center justify-content-sm-between">
					<span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © webčerka</span>
					<span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"></span>
				</div>
			</footer>
			<!-- partial -->
		</div>
		<!-- main-panel ends -->
	</div>
	<!-- page-body-wrapper ends -->
</div>
{/snippetArea}
<!-- container-scroller -->
<!-- plugins:js -->
<script src="/{$settingsService->getAppConfig()['subdir']}assets/admin/assets/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="/{$settingsService->getAppConfig()['subdir']}assets/admin/assets/js/off-canvas.js"></script>
<script src="/{$settingsService->getAppConfig()['subdir']}assets/admin/assets/js/hoverable-collapse.js"></script>
<script src="/{$settingsService->getAppConfig()['subdir']}assets/admin/assets/js/misc.js"></script>
<script src="/{$settingsService->getAppConfig()['subdir']}assets/admin/assets/js/settings.js"></script>
<script src="/{$settingsService->getAppConfig()['subdir']}assets/admin/assets/js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<!-- End custom js for this page -->
<script src="https://unpkg.com/nette-forms@3/src/assets/netteForms.js"></script>
<script src="https://unpkg.com/naja@3/dist/Naja.min.js"></script>

<script src="/{$settingsService->getAppConfig()['subdir']}assets/admin/vendor/tinymce/jquery.tinymce.min.js" type="text/javascript"></script>

<script src="/{$settingsService->getAppConfig()['subdir']}assets/admin/datagrid/datagrid.js"></script>

<script src="/{$settingsService->getAppConfig()['subdir']}assets/admin/init.js"></script>

{block scripts}
	{*    Some other scripts*}
{/block}
</body>
</html>