parameters:
    appConfig:
        subdir: nette-cms/www/
        adminUri: admin123

        langs: ['cz','en']
        isoLangs:
            cz: cs-CZ
            en: en

        install:
            adminName: Default Admin
            adminEmail: test@test.cz
            adminPassword: '12345'


dibi:
	host: localhost
	username: root
	password: ''
	database: nette-cms
	lazy: true