parameters:
    appConfig:

        devMode: 1
        devModePwd: test

        subdir: nette-cms/www/
        adminUri: admin123

        langs: ['cz','en']
        isoLangs:
            cz: cs-CZ
            en: en

        install:
            adminEmail: test@test.cz
            adminPassword: '12345'

        dbPrefix: 'cms_'


dibi:
	host: localhost
	username: root
	password: ''
	database: nette-cms
	lazy: true