services:
	- App\Router\RouterFactory::createRouter(%appConfig%)

	- App\Libs\Service\App\InstallService(%appConfig%)

	- App\AppModule\AdminModule\Forms\FormFactory
	- App\AppModule\AdminModule\MainModule\Components\Datagrid\DatagridFactory
	- App\AppModule\AdminModule\MainModule\UsersModule\Forms\NewUserFormFactory
	- App\AppModule\AdminModule\MainModule\UsersModule\Forms\EditUserFormFactory
	- App\AppModule\AdminModule\MainModule\UserModule\Forms\AccountSettingsFormFactory
	- App\AppModule\AdminModule\MainModule\UserModule\Forms\ChangePasswordFormFactory
	- App\AppModule\AdminModule\MainModule\SettingsModule\Forms\AddNewSettingFormFactory
	- App\AppModule\AdminModule\MainModule\SettingsModule\Forms\EditSettingFormFactory
	- App\AppModule\AdminModule\UserModule\Forms\SignInFormFactory
	- App\AppModule\AdminModule\UserModule\Forms\SignRenewPasswordFormFactory
	- App\AppModule\AdminModule\UserModule\Forms\SignForgottenPasswordFormFactory
	- App\AppModule\AdminModule\MainModule\WWWPagesModule\Forms\BasicFormFactory
	- App\AppModule\AdminModule\MainModule\WWWPagesModule\Forms\ContentFormFactory
	- App\AppModule\AdminModule\MainModule\WWWPagesModule\Forms\SystemFormFactory

	- App\Libs\Facade\UserFacade

	- App\Libs\Service\App\MailSender
	- App\Libs\Service\App\CacheService(Nette\Caching\Cache(namespace: 'default'))
	- App\Libs\Service\App\LanguageDetector
	- App\Libs\Service\App\Translator
	- App\Libs\Service\App\PageService(%appConfig%)
	- App\Libs\Service\App\SettingsService(%appConfig%)
	- App\Libs\Service\App\UserService
	- App\Libs\Service\App\TranslationsService

	- App\AppModule\FrontModule\Forms\ContactFormFactory
	- App\Libs\Repository\ContactFormRepository(%appConfig%)

	- App\Libs\Repository\App\PageRepository(%appConfig%)
	- App\Libs\Repository\App\SettingsRepository(%appConfig%)
	- App\Libs\Repository\App\UserRepository(%appConfig%)


	- App\AppModule\AdminModule\MainModule\HomepageModule\Forms\Slider\AddFormFactory
	- App\AppModule\AdminModule\MainModule\HomepageModule\Forms\Slider\EditFormFactory
	- App\Libs\Repository\SliderRepository(%appConfig%)

	- App\AppModule\AdminModule\MainModule\HomepageModule\Forms\Testimonial\AddFormFactory
	- App\AppModule\AdminModule\MainModule\HomepageModule\Forms\Testimonial\EditFormFactory
	- App\Libs\Repository\TestimonialRepository(%appConfig%)

	- App\AppModule\AdminModule\MainModule\HomepageModule\Forms\Project\AddFormFactory
	- App\AppModule\AdminModule\MainModule\HomepageModule\Forms\Project\EditFormFactory
	- App\Libs\Repository\ProjectRepository(%appConfig%)

