<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- plugins:css -->
	<link rel="stylesheet" href="/{$settingsService->getAppConfig()['subdir']}assets/admin/assets/vendors/mdi/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="/{$settingsService->getAppConfig()['subdir']}assets/admin/assets/vendors/css/vendor.bundle.base.css">
	<!-- endinject -->
	<!-- Plugin css for this page -->
	<!-- End plugin css for this page -->
	<!-- inject:css -->
	<!-- endinject -->
	<!-- Layout styles -->
	<link rel="stylesheet" href="/{$settingsService->getAppConfig()['subdir']}assets/admin/assets/css/style.css">
	<link rel="stylesheet" href="/{$settingsService->getAppConfig()['subdir']}assets/admin/customStyle.css">
	<!-- End layout styles -->
	<link rel="shortcut icon" type="image/png" href="/{$settingsService->getAppConfig()['subdir']}assets/custom/logo.png" />


	<title>{ifset title}{include title|stripHtml} | {/ifset}{_'Admin'}</title>
</head>
<body>
		<div class="container-scroller">
			<div class="container-fluid page-body-wrapper full-page-wrapper">
				<div class="row w-100 m-0">
					<div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">

						<div class="card col-lg-4 mx-auto">
							<div class="card-body px-5 py-5">
								<div n:foreach="$flashes as $flash" n:class="flash, alert, alert-dismissible, fade, show, 'alert-' . $flash->type, mb-2">{$flash->message}</div>
								{include content}
							</div>
						</div>

					</div>
					<!-- content-wrapper ends -->
				</div>
				<!-- row ends -->
			</div>
			<!-- page-body-wrapper ends -->
		</div>
		<!-- container-scroller -->
		<!-- plugins:js -->
		<script src="/{$settingsService->getAppConfig()['subdir']}assets/admin/assets/vendors/js/vendor.bundle.base.js"></script>
		<!-- endinject -->
		<!-- Plugin js for this page -->
		<!-- End plugin js for this page -->


		<script src="https://unpkg.com/nette-forms@3/src/assets/netteForms.js"></script>
		<script>
			$(".form-check label,.form-radio label").append('<i class="input-helper"></i>');
		</script>
		{block scripts}

		{/block}

</body>
</html>