{block content}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>DEV TEST</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<form method="get">
    <input type="password" name="basic_auth">
    <input type="submit" value="login">
</form>
</body>
</html>