{block content}


<div class="datagrid" id="{$grid->getId()}">

    <div class="row mb-1">
        <div class="col-lg-5 col-sm-12 d-flex">
                <div class="mr-5">{_'Total records'}: {$grid->recordsCount}</div>
                <a onclick="refresh({$grid->getId()});" href="#" class="btn btn-primary ml-2 refreshButton"><i class="mdi mdi-refresh click"></i> {_'Reload'}</a>
                <a onclick="reset({$grid->getId()});" href="#" class="btn btn-danger ml-2 resetButton"><i class="mdi mdi-backup-restore click"></i> {_'Reset'}</a>
        </div>
        <div class="col-lg-6 col-sm-12">
            {if $grid->isNewRecordButton()}
                <a class="btn btn-success newRecordButton" href="#">+ {_$grid->getNewRecordButton()['title']}</a>
            {/if}
        </div>
    </div>

    <div class="justify-content-lg-center d-flex">
        <div class="spinner mt-5" style="display: none">
            <div class="loading">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4335 4335" width="100" height="100">
                    <path fill="#008DD2" d="M3346 1077c41,0 75,34 75,75 0,41 -34,75 -75,75 -41,0 -75,-34 -75,-75 0,-41 34,-75 75,-75zm-1198 -824c193,0 349,156 349,349 0,193 -156,349 -349,349 -193,0 -349,-156 -349,-349 0,-193 156,-349 349,-349zm-1116 546c151,0 274,123 274,274 0,151 -123,274 -274,274 -151,0 -274,-123 -274,-274 0,-151 123,-274 274,-274zm-500 1189c134,0 243,109 243,243 0,134 -109,243 -243,243 -134,0 -243,-109 -243,-243 0,-134 109,-243 243,-243zm500 1223c121,0 218,98 218,218 0,121 -98,218 -218,218 -121,0 -218,-98 -218,-218 0,-121 98,-218 218,-218zm1116 434c110,0 200,89 200,200 0,110 -89,200 -200,200 -110,0 -200,-89 -200,-200 0,-110 89,-200 200,-200zm1145 -434c81,0 147,66 147,147 0,81 -66,147 -147,147 -81,0 -147,-66 -147,-147 0,-81 66,-147 147,-147zm459 -1098c65,0 119,53 119,119 0,65 -53,119 -119,119 -65,0 -119,-53 -119,-119 0,-65 53,-119 119,-119z"
                 />
                </svg>
            </div>
        </div>
    </div>

    <div class="datagridWrapper">
    {form filterForm, class => ajax}
        <input type="hidden" name="sortColumn" value="{$sortingColumn}">
        <input type="hidden" name="sortSort" value="{$sortingSort}">
        <input type="hidden" name="page" value="{$grid->actualPage}">
        <input type="hidden" name="reset" value="">


                    <div class="form-group mt-3">
                      <div class="input-group">
                        <input name="fulltext" value="{$fulltext}" type="text" class="form-control" placeholder="{_'Fulltext Search'}" aria-label="{_'Fulltext Search'}" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                          <button n:name="send" class="btn btn-sm btn-primary submit" type="submitn">{_'Search'}</button>
                        </div>
                      </div>
                    </div>


        <div class="table-responsive">
            <table class="table table-striped">

                <thead>
                <tr>
                    <th n:foreach="$grid->getColumns() as $column" class="column-name text-nowrap">
                       <div class="type-{$column->getType()} column-{$column->getName()}">
                        {$column->getTitle()}
                        {if $column->isSorting()}
                            <span class="text-nowrap">
                                <a href="#" onclick='sorting({$column->getName()},"asc",{$grid->getId()})' class="{if $sortingColumn === $column->getName() && $sortingSort === 'asc'}arrowActive{/if} sortArrow"><span class="mdi mdi-sort-ascending click"></span></a>
                                <a href="#" onclick='sorting({$column->getName()},"desc",{$grid->getId()})' class="{if $sortingColumn === $column->getName() && $sortingSort === 'desc'}arrowActive{/if} sortArrow"><span class="mdi mdi-sort-descending click"></span></a>
                            </span>
                        {/if}
                       </div>
                    </th>
                    {if count($grid->getActions())}
                        <th class="column-name"></th>
                    {/if}
                </tr>
                <tr>
                    <th n:foreach="$grid->getColumns() as $column" class="column-filter">
                        {$grid->renderFilter($column)|noescape}
                    </th>
                    {if count($grid->getActions())}
                        <th class="column-filter"></th>
                    {/if}
                </tr>
                </thead>

                <tbody>
                <tr n:foreach="$grid->getRecords() as $record">
                    <td n:foreach="$grid->getColumns() as $column">
                       {$grid->renderRecordCell($column, $record)|noescape}
                    </td>
                    {if count($grid->getActions())}
                    <td class="actions text-nowrap">
                        <div class="d-flex">
                        {foreach $grid->getActions() as $name => $action}
                            {first}<a class="{$name} {$action['class'] ?? ''}" href="{if $action['link']}{plink $action['link'], id: (string)$record->get('id')->getValue(), ...$action['args']}{else}#{(string)$record->get('id')->getValue()}{/if}">{$action['title']|noescape}</a>
                            {else}
                                   <a class="{$name} {$action['class'] ?? ''}" href="{if $action['link']}{plink $action['link'], id: (string)$record->get('id')->getValue(), ...$action['args']}{else}#{(string)$record->get('id')->getValue()}{/if}">{$action['title']|noescape}</a>
                            {/first}
                        {/foreach}
                        </div>
                    </td>
                    {/if}
                </tr>
                </tbody>

            </table>
        </div>
            {if !count($grid->getRecords())}
                <h4 class="mt-5 error">{_'There are cureently no records.'}</h4>
            {/if}

        <div class="row mt-3 mb-5">
            <div class="col-6">
                    <ul class="pagination">
                        {if $grid->minPage > 1}
                            <li class="{if ($grid->actualPage == 1)}active{/if} page-item" onclick="paginatorAction(1, {$grid->getId()})">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="disabled page-item" onclick="return false">
                                <a class="page-link" href="#">..</a>
                            </li>&nbsp;&nbsp;
                        {/if}
                        {for $i = $grid->minPage; $i <= $grid->maxPage; $i++}
                            <li class="{if ($grid->actualPage==$i)}active{/if} page-item" onclick="paginatorAction({$i},{$grid->getId()})">
                                <a class="page-link" href="#">{$i}</a>
                            </li>
                        {/for}
                        {if $grid->maxPage < $grid->pages}
                            <li class="disabled page-item" onclick="return false">
                                <a class="page-link" href="#">..</a>
                            </li>&nbsp;
                            <li class="{if ($grid->actualPage == $grid->pages)}active{/if} page-item" onclick="paginatorAction({$grid->pages}, {$grid->getId()})">
                                <a class="page-link" href="#">{$grid->pages}</a>
                            </li>
                        {/if}
                    </ul>
            </div>
            <div class="col-6 justify-content-end perPageSelect d-flex">

                        <div class="input-group-prepend">
                            <span class="input-group-text">{_'Per Page'}</span>
                        </div>
                        <select style="width:100px" name="perPage" class="paginatorItemsPerPage form-control">
                            {foreach $grid->getPerPageOptions() as $key => $option}
                               <option value="{$key}" {if $key == $grid->limit}selected{/if}>{$option}</option>
                            {/foreach}
                        </select>

            </div>
         </div>



        {/form}
    </div>
 </div>



